main
	p
		font-size: 20px
		text-align: center
		margin: 60px
		padding: 80px
		border: 1px solid #000
	.itens
		padding: 10px
		p
			text-align: center
			font-size: 18px
			padding: 0
			margin: 0
			border: 0
		margin: 20px
		i
			margin: 40px 40px 10px 50px
			font-size: 50px
			text-align: center
			position: relative
		.pencil,
		.book,
		.code,
		.coffee
			width: 155px
			height: 155px
			display: inline-block
			margin: 55px
			border: 1px solid #000
			