@import ../bower_components/sass-flex-mixin/flex

footer
	
	background:
		color: #222
	padding: 22px
	margin-top: 30px

	p
		color: $branco
		text-align: center
		margin: 0px
		padding: 10px
	.ft-logo
		img
			+border-radius(100px)
			display: block
			width: 130px
			height: 130px
			margin: 0px auto
			padding: 20px
		ul
			position: absolute
			li
				//display: inline-block
				margin: 10px
				font-size: 22px
				color: white
				width: 35px
				height: 35px
				background-color: rgba(255,0,0, .7)
				text-align: center
				border-radius: 50%
#go-top
	padding: 5px
	+border-radius(6px)
	background-color: white
	color: #333
	font-size: 30px
	position: fixed
	bottom: 20px
	right: 20px