header
	#top
		height: 60px;
		//border: 1px solid white
		width: 100%
		background-color: rgba(0,0,0, .5)
		position: fixed
		top: 0
		z-index: 10000
		transition: all .3s ease
	+clearfix 	//bootstrap call
	height: 670px
	min-height: 480px
	background: 
		image: url('../images/bg-wolf.jpg')
		position: top center
		repeat: no-repeat
		color: $preto
		attachment: fixed
		size: cover //important
	.logo
		margin: 7px 0 0 20px
		float: left
		img
			width: 40px
			height: 40px
			+border-radius(50px)
		+breakpoint($celular)
			display: none
	.nav-bar
		border: 1px solid white
		min-height: 100px
		width: 100% 
	.nav-menu
		float: right
		margin: 20px 0 0 0
		nav
			+breakpoint($tablet)
				//display: none
			ul

				li
					display: inline-block
					margin: 0 20px 0 0
				a
					color: $branco
					text-transform: uppercase
					text-shadow: 2px 2px 6px rgba(0,0,0,.9)
	h1
		color: #fff
		clear: both
		margin: 300px auto !important
		text-align: center
		font-size: 60px
		text-shadow: 2px 2px 6px rgba(0,0,0,.9)
		font-weight: 100
		
